<div class="application-container">
  <%= image_tag 'praktik-logo-2.svg' %>
  <p>
    Пока сайт нашего рабочего пространства находится в разработке, <br>
    следите за его новостями на <%= link_to 'странице в facebook', 'https://www.facebook.com/praktik.space'%>.
  </p>
</div>
