/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize-css/normalize.css';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  min-height: 100vh;
}

body {
  background: image-url('praktik-feature-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: Fugue, sans-serif;
}

header.application-header {
  text-align: center;
  margin-top: 90px;
  img {
    width: 172px;
  }
}

footer.application-footer {
  font-size: 90%;
  text-align: center;
  margin-bottom: 50px;
}

div.application-container {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 20px;
}


.text-lead {
  text-align: center;
  text-transform: uppercase;
  margin-left: 25px;
  margin-right: 25px;
}

.text-button {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 95%;
  cursor: pointer;
  background: #2bb351;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
}

.application-subscribe-button {
  margin-top: 75px;
  text-align: center;
}
