/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize-css/normalize.css';

@font-face {
    font-family: 'fugueregular';
    src: font-url('fugue-webfont.woff2') format('woff2'),
         font-url('fugue-webfont.woff') format('woff'),
         font-url('fugue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: image-url('praktik-feature-image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  font-family: fugueregular, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header.welcome-header {
  margin-top: 90px;
  .application-logo-desktop {
    width: 104px;
    margin-right: 20px;
    float: left;
  }
}

footer.application-footer {
  font-size: 90%;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  a {
    color: inherit;
  }
}

div.application-container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}


.text-lead {
  text-transform: uppercase;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.5;
  font-size: 110%;
  letter-spacing: 0.5px;
}

.text-button {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 95%;
  cursor: pointer;
  background: #2bb351;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
}

.application-subscribe-button {
  margin-top: 47px;
  margin-bottom: 5px;
}

.application-mobile-visible {
  display: none;
}

@media only screen and (max-device-width: 550px) {
  body {
    background: rgba(0, 0, 0, 0.85);
    background-attachment: scroll;
  }

  .application-mobile-visible {
    display: block;
  }

  .application-mobile-hidden {
    display: none;
  }

  header.welcome-header {
    margin-top: 20px;
    .application-logo-desktop {
      float: none;
      width: 70px;
    }
  }

  .text-lead {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    font-size: 85%;
    br {
      display: none;
    }
  }
}
